.wrapper {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 20px;
}

.wrapper.secondPart {
  padding-top: 10px;
  padding-bottom: 20px;
}

.hidden_label {
  display: none;
}

textarea {
  resize: none;
  overflow:hidden;
}

.text {
  color: rgb(5, 237, 237);
  width: 100%;
  border-width: 0px;
  border-bottom: 1px solid black;
}

.leftBorder {
  border-left: 3px solid grey;
  margin-bottom: 5px;
}

input[type="submit"] {
  width: 100%;
}

#text_area_div
{
  width: 170px;
  font-family: Arial;
  font-size: 12px;
  white-space: pre-wrap;
  word-wrap: break-word;
  visibility: hidden;
  position: absolute;
  left: -9999px;
}