* {
  margin: 0px;
  padding: 0px;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 20px;
}

.wrapper:first-of-type {
  padding-top: 20px;
}

.wrapper.secondPart {
  padding-top: 10px;
  padding-bottom: 20px;
}

.hidden_label {
  visibility: hidden;
  width: 100%;
}

.first_block textarea {
  margin: 5px 0px;
}

textarea {
  resize: none;
  overflow: hidden;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  width: 100%;
  word-wrap: normal;
}

.text {
  color: rgb(5, 237, 237);
}

.text {
  width: 100%;
  border-width: 0px;
  border-bottom: 1px solid black;
}

.left_border {
  border-left: 7px solid lightgrey;
  margin-bottom: 5px;
}

.fourth_block label:last-of-type {
  display: none;
  visibility: visible;
}

.fifth_block label:last-of-type {
  display: none;
}

input[type="submit"] {
  width: 100%;
  background-color: grey;
  border: none;
  color: white;
  height: 50px;
}

#text_area_div {
  width: 170px;
  font-family: Arial;
  font-size: 12px;
  white-space: pre-wrap;
  word-wrap: break-word;
  visibility: hidden;
  position: absolute;
  left: -9999px;
}

.range_wrap {
  color: #c7c5d9;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  position: relative;
  width: 100%;
  margin: 20px 0px;
}

input[type="range"] {
  display: block;
  height: 15px;
  outline: none;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  background: rgb(5, 237, 237);
  border: 1px solid black;
  border-radius: 50%;
  box-shadow: 0px 0px 1px 0px #040700;
  height: 20px;
  width: 20px;
  -webkit-appearance: none;
  margin-top: -10px;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: rgb(5, 237, 237);
  height: 2px;
}

.range_label,
.range_label_second {
  top: 20px;
  left: 10px;
  color: rgb(5, 237, 237);
  position: absolute;
  transition: border 900ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#valueMin1,
#valueMin2 {
  visibility: hidden;
}

h4 {
  margin: 0px
}

.fourth_block .text {
  color: grey;
}

.fourth_block textarea {
  margin: 10px 0px;
}

.fourth_block h4,
.free_block h4 {
  color: rgb(5, 237, 237);
}

.free_block textarea {
  color: black;
}